body {
	margin: 0 !important;
}

.logo-header {
	width: 160px;
	margin-top: 15px;
}

span.item-notification {
	font-size: 15px;
	color: #3f87f5;
}

.is-folded .header .logo .logo-fold {
	width: 40px;
	text-align: center;
	display: inline-block;
	margin-top: 12px;
}

.card {
	display: block;
	width: 100%;
}

textarea {
	resize: none;
}

table .anticon {
	font-size: 20px;
	width: 20px;
	height: 20px;
}

.user-name {
	font-size: 13px;
}

li.dashboard.nav-item.dropdown.active {
	background-color: rgba(63, 135, 245, 0.15);
}

li.dashboard.nav-item.dropdown.active a {
	color: #3f87f5;
}

li.nav-item.dropdown.active:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	border-right: 2px solid;
	border-color: #3f87f5;
}

.added-element {
	position: relative;
}

.error-themes-item i.remove_field_button,
.error-themes-item i.add_field_button {
	right: 16px;
	font-size: 24px;
	position: absolute;
	top: 48%;
	cursor: pointer;
}

#send-password-btn {
	display: block;
	width: 120px;
}

.hidden {
	display: none !important;
}

.swal2-styled {
	outline: none !important;
}

#exporter_csv {
	min-width: 120px;
}

#s2id_dashboard_agent_id,
#s2id_dashboard_project_id,
#s2id_dashboard_supervisor_id {
	min-width: 200px;
}
.chart {
	display: none;
}
